@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display&display=swap');

:root {
    --White: #ffffff;
    --Dark: rgba(0, 0, 0, 0.3);
    --Gray: rgba(233, 233, 233, 0.5);
    --Blue: #0E143C;
    --Bluelight: #179de9;
    --Bluedark: #00507c;
    --Pinklight: #F1C6D7;
    --Red:rgba(255, 0, 0, 0.5);
}

